
<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
	<a class="navbar-brand text-navbar-brand" href="/">{{ site.title | default: site.github.repository_name }}</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	{% if site.subtitle %}
		<small class="navbar-text subtitle font-italic">{{ site.subtitle | default: site.github.project_tagline }}</small>
	{% endif %}
		<ul class="navbar-nav ml-auto">
		{% for item in site.data.nav %}
			<li class="nav-item">
				{% assign link_with_ext = item.link | append: ".html" %}
				<a class={% if page.url == link_with_ext %}"nav-link active"{% else %}"nav-link"{% endif %} href="{{ item.link }}">{{ item.name }}</a>
			</li>
		{% endfor %}
		</ul>

		<!-- TODO: Implement Search when we have a search provider -->
		<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		</form> -->
	</div>
</nav>
