{% comment %}
Show the given list of posts.
{% endcomment %}

{% for post in include.items %}
<div class="card rounded mb-4 bg-gray-200">
	<div class="card-body">
		<h4 class="card-title rounded-top bg-primary">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h4>
		<p class="card-text">{{ post.excerpt }}</p>
	</div>
	<div class="card-footer">
		<small class="text-muted">Published on {{ post.date | date_to_string: "ordinal", "US" }}</small>
	{% if post.tags %}	
		<div class="float-right">
		{% for tag in post.tags %}
			<!-- TODO: Tag page URL -->
			<a href="#" class="badge badge-primary text-color-blue">{{ tag }}</a>
		{% endfor %}
		</div>
	{% endif %}
	</div>
</div>
{% endfor %}